<div class="container text-center">
    <div *ngIf="isLoading"><app-spinner></app-spinner></div>

    <form class="form-group" [formGroup]="resetPassword" (ngSubmit)="resetSubmit()">
        <h1>Alterar Senha</h1>

        <div *ngIf="msgShow" class="alert alert-{{alertType}}" role="alert">
            {{msg}}

            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="clearMsg()"></button>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="containerinput">
                    <input type="text" class="form-control input" formControlName="token" placeholder="Token" required>
                    <p class="required">*</p>
                    <span class="spanInvalid" *ngIf="resetPassword.controls.token.invalid && resetPassword.controls.token.touched">Campo obrigatório</span>
                </div>
            </div>

            <div class="col-6">
                <div class="containerinput">
                    <input type="password" class="form-control input" formControlName="password" placeholder="New Password" required>
                    <p class="required">*</p>
                    <div *ngIf="resetPassword.controls.password.invalid && resetPassword.controls.password.touched || resetPassword.controls.password.dirty">
                        <span class="spanInvalid" *ngIf="resetPassword.controls.password.errors?.required">Campo obrigatório<br></span>
                        <span class="spanInvalid" *ngIf="resetPassword.controls.password.errors?.minlength">Deve conter pelo menos 6 caracteres<br></span>
                        <span class="spanInvalid" *ngIf="resetPassword.controls.password.errors?.maxlength">Não deve exceder 12 caracteres<br></span>
                        <span class="spanInvalid" *ngIf="resetPassword.controls.password.errors?.hasNumber">Deve conter pelo menos 1 número<br></span>
                        <span class="spanInvalid" *ngIf="resetPassword.controls.password.errors?.hasCapitalCase">Deve conter pelo menos 1 letra maiúscula<br></span>
                        <span class="spanInvalid" *ngIf="resetPassword.controls.password.errors?.hasSmallCase">Deve conter pelo menos 1 letra minúscula<br></span>
                        <span class="spanInvalid" *ngIf="resetPassword.controls.password.errors?.hasSpecialCharacters">Deve conter pele menos 1 caracter especial<br></span>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="containerinput">
                    <input type="password" class="form-control input" formControlName="passwordC" placeholder="Confirm Password" required>
                    <p class="required">*</p>
                    <div *ngIf="resetPassword.controls.passwordC.invalid && resetPassword.controls.passwordC.touched || resetPassword.controls.passwordC.dirty">
                        <span class="spanInvalid" *ngIf="resetPassword.controls.passwordC.errors?.required">Campo obrigatório</span>
                        <span class="spanInvalid" *ngIf="resetPassword.controls.passwordC.errors?.minlength">Deve conter pelo menos 6 caracteres</span>
                        <span class="spanInvalid" *ngIf="resetPassword.controls.passwordC.errors?.maxlength">Não deve exceder 12 caracteres</span>
                        <span class="spanInvalid" *ngIf="resetPassword.controls.passwordC.errors?.mustMatch">As senhas não são identicas</span>
                    </div>
                </div>
            </div>

            <div class="col-12 text-center">
                <input [disabled]="!resetPassword.valid" type="submit" class="btn-default" value="Submit">
            </div>
        </div>
    </form>
</div>

<router-outlet></router-outlet>