<div class="container">
    <div *ngIf="isLoading"><app-loader [isLoading]="isLoading"></app-loader></div>

    <form class="form-group" [formGroup]="resetForm" (ngSubmit)="resetSubmit()" *ngIf="!isLoading">
        <h1 class="text-center">Esqueceu a senha?</h1>
        
        <div class="row">
            <div class="col-12">
                <mat-form-field hintLabel="Max 300 characters" appearance="fill">
                    <mat-label>Informe seu email</mat-label>
                    <input matInput #username maxlength="300" placeholder="pat@example.com" formControlName="username" required>
                    <mat-hint align="end">{{username.value.length}}/300</mat-hint>
                    <mat-error *ngIf="resetForm.controls.username.hasError('username') && !resetForm.controls.username.hasError('required')">
                        Por favor informe um email válido
                    </mat-error>
                    
                    <mat-error *ngIf="resetForm.controls.username.hasError('required')">
                        Email é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-12 text-center">
                <button [disabled]="!resetForm.valid" mat-raised-button class="btn-default" type="submit">Enviar</button>
            </div>
        </div>
    </form>
</div>