<div class="container text-center">
    <div *ngIf="isLoading"><app-spinner></app-spinner></div>

    <form class="form-group" [formGroup]="resetForm" (ngSubmit)="resetSubmit()" *ngIf="!isLoading">
        <h1>Alterar Senha</h1>
        
        <div *ngIf="msgShow" class="alert alert-{{alertType}}" role="alert">
            {{msg}}

            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="clearMsg()"></button>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="containerinput">
                    <input type="email" class="form-control input" formControlName="username" placeholder="Username" required>
                    <p class="required">*</p>
                    <span class="spanInvalid" *ngIf="resetForm.controls.username.errors?.required && resetForm.controls.username.touched">Campo obrigatório</span>
                </div>
            </div>

            <div class="col-12 text-center">
                <input [disabled]="!resetForm.valid" type="submit" class="btn-default" value="Send e-mail">
            </div>
        </div>
    </form>
</div>

<router-outlet></router-outlet>