.divider {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: blood !important;
}

.divider span {
    display: inline-block;
    vertical-align: middle;
}

.outer-line {
    width: 44%;
    border-bottom: 1px solid;
    margin-left: 1%;
    margin-right: 1%;
}

@media screen and (min-width: 350px) and (max-width: 450px) {
    .outer-line {
        width: 35% !important;
    }
}

@media screen and (min-width: 450px) and (max-width: 700px) {
    .outer-line {
        width: 40% !important;
    }
}

@media screen and (min-width: 700px) and (max-width: 750px) {
    .outer-line {
        width: 39% !important;
    }
}

@media screen and (min-width: 750px) and (max-width: 1050px) {
    .outer-line {
        width: 42% !important;
    }
}

@media screen and (min-width: 1050px) and (max-width: 1200px) {
    .outer-line {
        width: 42.8% !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
    .outer-line {
        width: 43% !important;
    }
}