<div class="container">
    <div *ngIf="isLoading"><app-loader [isLoading]="isLoading"></app-loader></div>

    <form class="form-group" [formGroup]="resetPassword" (ngSubmit)="resetSubmit()">
        <h1 class="text-center">Alterar Senha</h1>

        <div *ngIf="msgShow" class="alert alert-{{alertType}}" role="alert">
            {{msg}}

            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="clearMsg()"></button>
        </div>

        <div class="row">
            <div class="col-12">
                <mat-form-field appearance="fill">
                    <mat-label>Token</mat-label>
                    <input matInput #token placeholder="Token" formControlName="token" required>
                    <mat-error *ngIf="resetPassword.controls.token.hasError('required')">
                        Token é <strong>obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-6 col-sm12">
                <mat-form-field class="middle" hintLabel="Max 12 characters" appearance="fill">
                    <mat-label>Informe uma senha</mat-label>
                    <input matInput #password maxlength="12" [type]="hide ? 'password' : 'text'" formControlName="password" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint align="end">{{password.value.length}}/12</mat-hint>
                    <div *ngIf="resetPassword.controls.password.invalid && resetPassword.controls.password.touched || resetPassword.controls.password.dirty">
                        <mat-error *ngIf="resetPassword.controls.password.hasError('required')">
                            Senha é <strong>obrigatório</strong>
                        </mat-error>

                        <mat-error *ngIf="resetPassword.controls.password.hasError('minlength')">
                            A senha deve ter pelo menos 6 caracteres
                        </mat-error>

                        <mat-error *ngIf="resetPassword.controls.password.hasError('maxlength')">
                            A senha não pode exceder 12 caracteres
                        </mat-error>

                        <mat-error *ngIf="resetPassword.controls.password.hasError('hasNumber')">
                            A senha deve conter pelo menos 1 número
                        </mat-error>

                        <mat-error *ngIf="resetPassword.controls.password.hasError('hasCapitalCase')">
                            A senha deve conter pelo menos 1 letra maiúscula
                        </mat-error>

                        <mat-error *ngIf="resetPassword.controls.password.hasError('hasSmallCase')">
                            A senha deve conter pelo menos 1 letra minúscula
                        </mat-error>

                        <mat-error *ngIf="resetPassword.controls.password.hasError('hasSpecialCharacters')">
                            A senha deve conter pelo menos 1 caracter especial
                        </mat-error>
                    </div>
                </mat-form-field>
            </div>

            <div class="col-md-6 col-sm-12">
                <mat-form-field class="middle" hintLabel="Max 12 characters">
                    <mat-label>Confirme sua senha</mat-label>
                    <input matInput #passwordC maxlength="12" [type]="hide ? 'password' : 'text'" formControlName="passwordC" required>
                    <button mat-icon-button matSuffix (click)="hideC = !hideC" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideC">
                      <mat-icon>{{hideC ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-hint align="end">{{passwordC.value.length}}/12</mat-hint>
                    <div *ngIf="resetPassword.controls.passwordC.invalid && resetPassword.controls.passwordC.touched || resetPassword.controls.passwordC.dirty">
                        <mat-error *ngIf="resetPassword.controls.passwordC.hasError('required')">
                            Confirmação de senha é <strong>obrigatório</strong>
                        </mat-error>

                        <mat-error *ngIf="resetPassword.controls.passwordC.hasError('minlength')">
                            A confirmação de senha deve ter pelo menos 6 caracteres
                        </mat-error>

                        <mat-error *ngIf="resetPassword.controls.passwordC.hasError('maxlength')">
                            A confirmação de senha não pode exceder 12 caracteres
                        </mat-error>

                        <mat-error *ngIf="resetPassword.controls.passwordC.hasError('mustMatch')">
                            As senhas são diferentes
                        </mat-error>
                    </div>
                </mat-form-field>
            </div>

            <div class="col-12 text-center">
                <button [disabled]="!resetPassword.valid" mat-raised-button class="btn-default" type="submit">Alterar Senha</button>
            </div>
        </div>
    </form>
</div>